
.logo path:nth-child(1){
stroke-dasharray: 301;
stroke-dashoffset: 301;
animation: line-anim 2s ease forwards;
}
.logo path:nth-child(2){
    stroke-dasharray: 310;
    stroke-dashoffset: 310;
    animation: line-anim 2s ease forwards 1;
}

.logo path:nth-child(3){
    stroke-dasharray: 474;
    stroke-dashoffset: 474;
    animation: line-anim 2s ease forwards 1;
}

.logo path:nth-child(4){
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: line-anim 5s ease forwards 1;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}