@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600&family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');
body{
  background-color: #141414;
  color: #F5F5F5;
  font-family: 'Source Code Pro', monospace;
}